# k8s/08-hpa.yaml
# Escala automáticamente el número de Pods del `users-deployment` basado en la utilización de CPU.
# Ayuda a manejar picos de carga sin intervención manual, asegurando la disponibilidad y el rendimiento.
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: users-hpa
  namespace: microservices-ns
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: users-deployment
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75
